In [1]:
import pandas as pd
import pandera as pa
import janitor
from pandera import Column, DataFrameSchema

In [2]:
# Load the CSV data
uncleaned_df = pd.read_csv("data/API_SP.POP.GROW_DS2_en_csv_v2_3404396.csv", skiprows=4)

uncleaned_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,Aruba,ABW,Population growth (annual %),SP.POP.GROW,NaN,2.179059,1.548572,1.389337,1.215721,1.032841,...,0.637959,0.590062,0.537296,0.494795,0.451970,0.134255,-0.045045,-0.086392,-0.157953,NaN
1,Africa Eastern and Southern,AFE,Population growth (annual %),SP.POP.GROW,NaN,2.660180,2.732633,2.753248,2.806915,2.840787,...,2.802586,2.728159,2.655672,2.688371,2.691134,2.678184,2.607472,2.543757,2.531587,NaN
2,Afghanistan,AFG,Population growth (annual %),SP.POP.GROW,NaN,1.925952,2.014879,2.078997,2.139651,2.216007,...,3.121341,2.581549,2.866492,2.885208,2.908529,3.134747,2.851358,2.534498,2.665628,NaN
3,Africa Western and Central,AFW,Population growth (annual %),SP.POP.GROW,NaN,2.115789,2.145723,2.190827,2.211360,2.242567,...,2.723317,2.713059,2.706266,2.669239,2.633982,2.615646,2.573377,2.539799,2.540864,NaN
4,Angola,AGO,Population growth (annual %),SP.POP.GROW,NaN,1.558355,1.460738,1.410425,1.301745,1.111041,...,3.617678,3.586211,3.550987,3.464457,3.395278,3.268348,3.166030,3.096753,3.030996,NaN

In [3]:
# Count the rows and columns
num_rows, num_columns = uncleaned_df.shape
print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_columns}")

Number of rows: 266
Number of columns: 69

In [4]:
# Remove duplicates
uncleaned_df2 = uncleaned_df.drop_duplicates()
num_rows2, num_columns2 = uncleaned_df2.shape
print(f"Number of rows: {num_rows2}")
print(f"Number of columns: {num_columns2}")

Number of rows: 266
Number of columns: 69

In [5]:
# Drop the specific 'Indicator Name' and 'Indicator Code' columns
uncleaned_df2 = uncleaned_df2.drop(columns=['Indicator Name', 'Indicator Code', 'Country Name', 'Unnamed: 68'], errors='ignore')
uncleaned_df2

,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,ABW,NaN,2.179059,1.548572,1.389337,1.215721,1.032841,0.862184,0.388847,-0.085719,...,0.691615,0.637959,0.590062,0.537296,0.494795,0.451970,0.134255,-0.045045,-0.086392,-0.157953
1,AFE,NaN,2.660180,2.732633,2.753248,2.806915,2.840787,2.813609,2.830505,2.881589,...,2.774990,2.802586,2.728159,2.655672,2.688371,2.691134,2.678184,2.607472,2.543757,2.531587
2,AFG,NaN,1.925952,2.014879,2.078997,2.139651,2.216007,2.253524,2.292638,2.347351,...,3.657576,3.121341,2.581549,2.866492,2.885208,2.908529,3.134747,2.851358,2.534498,2.665628
3,AFW,NaN,2.115789,2.145723,2.190827,2.211360,2.242567,2.272816,2.275721,2.295953,...,2.750731,2.723317,2.713059,2.706266,2.669239,2.633982,2.615646,2.573377,2.539799,2.540864
4,AGO,NaN,1.558355,1.460738,1.410425,1.301745,1.111041,0.875806,0.696698,0.695985,...,3.684429,3.617678,3.586211,3.550987,3.464457,3.395278,3.268348,3.166030,3.096753,3.030996
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,XKX,NaN,2.400980,2.378001,2.336873,2.280566,2.192574,2.110134,2.099215,2.135855,...,-0.294474,-1.364932,-0.596734,0.753585,0.339011,-0.457730,0.070131,-0.229016,-1.010215,-0.664615
262,YEM,NaN,1.862737,1.872291,1.839467,1.920052,2.046198,2.127857,2.216335,2.295831,...,2.811072,2.712955,2.621537,2.564321,2.486360,2.426208,2.310447,2.137790,2.144628,2.210656
263,ZAF,NaN,2.799492,2.978651,3.033440,3.061378,3.091501,3.092211,3.089296,3.086807,...,1.576294,2.074017,0.972004,0.387278,1.225530,1.295074,1.223179,0.998920,0.841058,0.865465
264,ZMB,NaN,3.156056,3.178563,3.196632,3.194441,3.201590,3.218695,3.219669,3.225439,...,3.247118,3.191896,3.147407,3.113595,3.061888,3.007618,2.933818,2.840806,2.758032,2.720528
265,ZWE,NaN,3.094865,3.105320,3.115408,3.119878,3.124829,3.129628,3.135761,3.152789,...,2.191391,2.136294,2.081806,2.043620,2.020537,1.989253,2.031112,2.045715,2.024036,2.091100

In [7]:
# Find the rows and columns with NaN (blank) values
blank_values = uncleaned_df2.isna()

# Count the number of blank (NaN) values in each row
blank_rows_count = uncleaned_df2.isna().any(axis=1).sum()

# Count the number of blank (NaN) values in each column
blank_columns_count = uncleaned_df2.isna().any(axis=0).sum()

# Display the total counts
print(f"Total number of rows with at least one blank (NaN) value: {blank_rows_count}")
print(f"Total number of columns with at least one blank (NaN) value: {blank_columns_count}")

# Find the rows and columns with NaN (blank) values
blank_rows = uncleaned_df2[uncleaned_df2.isna().any(axis=1)]  # Rows with NaN values
blank_columns = uncleaned_df2.loc[:, uncleaned_df2.isna().any(axis=0)]  # Columns with NaN values

# Display the rows with blank values
print("Rows with Blank (NaN) Values:")
print(blank_rows)

# Display the columns with blank values
print("\nColumns with Blank (NaN) Values:")
print(blank_columns)

Total number of rows with at least one blank (NaN) value: 266
Total number of columns with at least one blank (NaN) value: 64
Rows with Blank (NaN) Values:
    Country Code  1960      1961      1962      1963      1964      1965  \
0            ABW   NaN  2.179059  1.548572  1.389337  1.215721  1.032841
1            AFE   NaN  2.660180  2.732633  2.753248  2.806915  2.840787
2            AFG   NaN  1.925952  2.014879  2.078997  2.139651  2.216007
3            AFW   NaN  2.115789  2.145723  2.190827  2.211360  2.242567
4            AGO   NaN  1.558355  1.460738  1.410425  1.301745  1.111041
..           ...   ...       ...       ...       ...       ...       ...
261          XKX   NaN  2.400980  2.378001  2.336873  2.280566  2.192574
262          YEM   NaN  1.862737  1.872291  1.839467  1.920052  2.046198
263          ZAF   NaN  2.799492  2.978651  3.033440  3.061378  3.091501
264          ZMB   NaN  3.156056  3.178563  3.196632  3.194441  3.201590
265          ZWE   NaN  3.094865  3.105320  3.115408  3.119878  3.124829

         1966      1967      1968  ...      2014      2015      2016  \
0    0.862184  0.388847 -0.085719  ...  0.691615  0.637959  0.590062
1    2.813609  2.830505  2.881589  ...  2.774990  2.802586  2.728159
2    2.253524  2.292638  2.347351  ...  3.657576  3.121341  2.581549
3    2.272816  2.275721  2.295953  ...  2.750731  2.723317  2.713059
4    0.875806  0.696698  0.695985  ...  3.684429  3.617678  3.586211
..        ...       ...       ...  ...       ...       ...       ...
261  2.110134  2.099215  2.135855  ... -0.294474 -1.364932 -0.596734
262  2.127857  2.216335  2.295831  ...  2.811072  2.712955  2.621537
263  3.092211  3.089296  3.086807  ...  1.576294  2.074017  0.972004
264  3.218695  3.219669  3.225439  ...  3.247118  3.191896  3.147407
265  3.129628  3.135761  3.152789  ...  2.191391  2.136294  2.081806

         2017      2018      2019      2020      2021      2022      2023
0    0.537296  0.494795  0.451970  0.134255 -0.045045 -0.086392 -0.157953
1    2.655672  2.688371  2.691134  2.678184  2.607472  2.543757  2.531587
2    2.866492  2.885208  2.908529  3.134747  2.851358  2.534498  2.665628
3    2.706266  2.669239  2.633982  2.615646  2.573377  2.539799  2.540864
4    3.550987  3.464457  3.395278  3.268348  3.166030  3.096753  3.030996
..        ...       ...       ...       ...       ...       ...       ...
261  0.753585  0.339011 -0.457730  0.070131 -0.229016 -1.010215 -0.664615
262  2.564321  2.486360  2.426208  2.310447  2.137790  2.144628  2.210656
263  0.387278  1.225530  1.295074  1.223179  0.998920  0.841058  0.865465
264  3.113595  3.061888  3.007618  2.933818  2.840806  2.758032  2.720528
265  2.043620  2.020537  1.989253  2.031112  2.045715  2.024036  2.091100

[266 rows x 65 columns]

Columns with Blank (NaN) Values:
     1960      1961      1962      1963      1964      1965      1966  \
0     NaN  2.179059  1.548572  1.389337  1.215721  1.032841  0.862184
1     NaN  2.660180  2.732633  2.753248  2.806915  2.840787  2.813609
2     NaN  1.925952  2.014879  2.078997  2.139651  2.216007  2.253524
3     NaN  2.115789  2.145723  2.190827  2.211360  2.242567  2.272816
4     NaN  1.558355  1.460738  1.410425  1.301745  1.111041  0.875806
..    ...       ...       ...       ...       ...       ...       ...
261   NaN  2.400980  2.378001  2.336873  2.280566  2.192574  2.110134
262   NaN  1.862737  1.872291  1.839467  1.920052  2.046198  2.127857
263   NaN  2.799492  2.978651  3.033440  3.061378  3.091501  3.092211
264   NaN  3.156056  3.178563  3.196632  3.194441  3.201590  3.218695
265   NaN  3.094865  3.105320  3.115408  3.119878  3.124829  3.129628

         1967      1968      1969  ...      2014      2015      2016  \
0    0.388847 -0.085719 -0.237372  ...  0.691615  0.637959  0.590062
1    2.830505  2.881589  2.898532  ...  2.774990  2.802586  2.728159
2    2.292638  2.347351  2.378917  ...  3.657576  3.121341  2.581549
3    2.275721  2.295953  2.323998  ...  2.750731  2.723317  2.713059
4    0.696698  0.695985  1.020355  ...  3.684429  3.617678  3.586211
..        ...       ...       ...  ...       ...       ...       ...
261  2.099215  2.135855  2.201240  ... -0.294474 -1.364932 -0.596734
262  2.216335  2.295831  2.397058  ...  2.811072  2.712955  2.621537
263  3.089296  3.086807  3.058022  ...  1.576294  2.074017  0.972004
264  3.219669  3.225439  3.171520  ...  3.247118  3.191896  3.147407
265  3.135761  3.152789  3.178674  ...  2.191391  2.136294  2.081806

         2017      2018      2019      2020      2021      2022      2023
0    0.537296  0.494795  0.451970  0.134255 -0.045045 -0.086392 -0.157953
1    2.655672  2.688371  2.691134  2.678184  2.607472  2.543757  2.531587
2    2.866492  2.885208  2.908529  3.134747  2.851358  2.534498  2.665628
3    2.706266  2.669239  2.633982  2.615646  2.573377  2.539799  2.540864
4    3.550987  3.464457  3.395278  3.268348  3.166030  3.096753  3.030996
..        ...       ...       ...       ...       ...       ...       ...
261  0.753585  0.339011 -0.457730  0.070131 -0.229016 -1.010215 -0.664615
262  2.564321  2.486360  2.426208  2.310447  2.137790  2.144628  2.210656
263  0.387278  1.225530  1.295074  1.223179  0.998920  0.841058  0.865465
264  3.113595  3.061888  3.007618  2.933818  2.840806  2.758032  2.720528
265  2.043620  2.020537  1.989253  2.031112  2.045715  2.024036  2.091100

[266 rows x 64 columns]

In [8]:
# Replace all NaN values with 'Not Available'
uncleaned_df2 = uncleaned_df2.fillna('Not Available')

# Replace all blank values (empty strings or spaces) with 'Not Available'
uncleaned_df2 = uncleaned_df2.replace(r'^\s*$', 'Not Available', regex=True)

# Generate schema for '1960' to '2023' columns (as floats, non-nullable)
year_columns = [str(year) for year in range(1960, 2023)]  # Column names from 1960 to 2023

# Convert year columns to numeric, coercing errors (e.g., strings will become NaN)
uncleaned_df2[year_columns] = uncleaned_df2[year_columns].apply(pd.to_numeric, errors='coerce')

# After coercing, fill any NaN (resulting from non-numeric entries) with 0
uncleaned_df2[year_columns] = uncleaned_df2[year_columns].fillna(0)

# Define schema dynamically for float columns with no nulls
schema_dict = {col: Column(pa.Float, nullable=False) for col in year_columns}

# Add non-year columns (Country Code) to the schema and expect them to be strings
schema_dict['Country Code'] = Column(pa.String, nullable=False)

# Create the schema
schema = DataFrameSchema(schema_dict)

# Validate the DataFrame using the schema (will raise errors if validation fails)
validated_df = schema.validate(uncleaned_df2)

# Print the cleaned and validated DataFrame
validated_df

,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,ABW,0.0,2.179059,1.548572,1.389337,1.215721,1.032841,0.862184,0.388847,-0.085719,...,0.691615,0.637959,0.590062,0.537296,0.494795,0.451970,0.134255,-0.045045,-0.086392,-0.157953
1,AFE,0.0,2.660180,2.732633,2.753248,2.806915,2.840787,2.813609,2.830505,2.881589,...,2.774990,2.802586,2.728159,2.655672,2.688371,2.691134,2.678184,2.607472,2.543757,2.531587
2,AFG,0.0,1.925952,2.014879,2.078997,2.139651,2.216007,2.253524,2.292638,2.347351,...,3.657576,3.121341,2.581549,2.866492,2.885208,2.908529,3.134747,2.851358,2.534498,2.665628
3,AFW,0.0,2.115789,2.145723,2.190827,2.211360,2.242567,2.272816,2.275721,2.295953,...,2.750731,2.723317,2.713059,2.706266,2.669239,2.633982,2.615646,2.573377,2.539799,2.540864
4,AGO,0.0,1.558355,1.460738,1.410425,1.301745,1.111041,0.875806,0.696698,0.695985,...,3.684429,3.617678,3.586211,3.550987,3.464457,3.395278,3.268348,3.166030,3.096753,3.030996
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,XKX,0.0,2.400980,2.378001,2.336873,2.280566,2.192574,2.110134,2.099215,2.135855,...,-0.294474,-1.364932,-0.596734,0.753585,0.339011,-0.457730,0.070131,-0.229016,-1.010215,-0.664615
262,YEM,0.0,1.862737,1.872291,1.839467,1.920052,2.046198,2.127857,2.216335,2.295831,...,2.811072,2.712955,2.621537,2.564321,2.486360,2.426208,2.310447,2.137790,2.144628,2.210656
263,ZAF,0.0,2.799492,2.978651,3.033440,3.061378,3.091501,3.092211,3.089296,3.086807,...,1.576294,2.074017,0.972004,0.387278,1.225530,1.295074,1.223179,0.998920,0.841058,0.865465
264,ZMB,0.0,3.156056,3.178563,3.196632,3.194441,3.201590,3.218695,3.219669,3.225439,...,3.247118,3.191896,3.147407,3.113595,3.061888,3.007618,2.933818,2.840806,2.758032,2.720528
265,ZWE,0.0,3.094865,3.105320,3.115408,3.119878,3.124829,3.129628,3.135761,3.152789,...,2.191391,2.136294,2.081806,2.043620,2.020537,1.989253,2.031112,2.045715,2.024036,2.0911

In [10]:
# Find the rows and columns with NaN (blank) values
blank_values = validated_df.isna()

# Count the number of blank (NaN) values in each row
blank_rows_count2 = validated_df.isna().any(axis=1).sum()

# Count the number of blank (NaN) values in each column
blank_columns_count2 = validated_df.isna().any(axis=0).sum()

# Display the total counts
print(f"Total number of rows with at least one blank (NaN) value: {blank_rows_count2}")
print(f"Total number of columns with at least one blank (NaN) value: {blank_columns_count2}")

# Find the rows and columns with NaN (blank) values
blank_rows2 = validated_df[validated_df.isna().any(axis=1)]  # Rows with NaN values
blank_columns2 = validated_df.loc[:, validated_df.isna().any(axis=0)]  # Columns with NaN values

# Display the rows with blank values
print("Rows with Blank (NaN) Values:")
print(blank_rows2)

# Display the columns with blank values
print("\nColumns with Blank (NaN) Values:")
print(blank_columns2)

Total number of rows with at least one blank (NaN) value: 0
Total number of columns with at least one blank (NaN) value: 0
Rows with Blank (NaN) Values:
Empty DataFrame
Columns: [Country Code, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023]
Index: []

[0 rows x 65 columns]

Columns with Blank (NaN) Values:
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[266 rows x 0 columns]

In [11]:
# Replace all 0 values with 'Not Available'
validated_df = validated_df.replace(0, 'Not Available')

In [12]:
# Make a file for validated_df dataset
validated_df.to_csv('./data/validated_full_dataset.csv', index=False)