In [1]:
import pandas as pd
import janitor

In [2]:
# Load the CSV data, specifying that the headers are on row 5 (zero-indexed, so row 4)
uncleaned_df = pd.read_csv("API_SP.POP.GROW_DS2_en_csv_v2_3404396.csv", header=2)

uncleaned_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,Aruba,ABW,Population growth (annual %),SP.POP.GROW,NaN,2.179059,1.548572,1.389337,1.215721,1.032841,...,0.637959,0.590062,0.537296,0.494795,0.451970,0.134255,-0.045045,-0.086392,-0.157953,NaN
1,Africa Eastern and Southern,AFE,Population growth (annual %),SP.POP.GROW,NaN,2.660180,2.732633,2.753248,2.806915,2.840787,...,2.802586,2.728159,2.655672,2.688371,2.691134,2.678184,2.607472,2.543757,2.531587,NaN
2,Afghanistan,AFG,Population growth (annual %),SP.POP.GROW,NaN,1.925952,2.014879,2.078997,2.139651,2.216007,...,3.121341,2.581549,2.866492,2.885208,2.908529,3.134747,2.851358,2.534498,2.665628,NaN
3,Africa Western and Central,AFW,Population growth (annual %),SP.POP.GROW,NaN,2.115789,2.145723,2.190827,2.211360,2.242567,...,2.723317,2.713059,2.706266,2.669239,2.633982,2.615646,2.573377,2.539799,2.540864,NaN
4,Angola,AGO,Population growth (annual %),SP.POP.GROW,NaN,1.558355,1.460738,1.410425,1.301745,1.111041,...,3.617678,3.586211,3.550987,3.464457,3.395278,3.268348,3.166030,3.096753,3.030996,NaN

In [3]:
# Clean column names (headers) to a simpler format using PyJanitor
uncleaned_df = uncleaned_df.clean_names()

uncleaned_df.head()

,country_name,country_code,indicator_name,indicator_code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,unnamed_68
0,Aruba,ABW,Population growth (annual %),SP.POP.GROW,NaN,2.179059,1.548572,1.389337,1.215721,1.032841,...,0.637959,0.590062,0.537296,0.494795,0.451970,0.134255,-0.045045,-0.086392,-0.157953,NaN
1,Africa Eastern and Southern,AFE,Population growth (annual %),SP.POP.GROW,NaN,2.660180,2.732633,2.753248,2.806915,2.840787,...,2.802586,2.728159,2.655672,2.688371,2.691134,2.678184,2.607472,2.543757,2.531587,NaN
2,Afghanistan,AFG,Population growth (annual %),SP.POP.GROW,NaN,1.925952,2.014879,2.078997,2.139651,2.216007,...,3.121341,2.581549,2.866492,2.885208,2.908529,3.134747,2.851358,2.534498,2.665628,NaN
3,Africa Western and Central,AFW,Population growth (annual %),SP.POP.GROW,NaN,2.115789,2.145723,2.190827,2.211360,2.242567,...,2.723317,2.713059,2.706266,2.669239,2.633982,2.615646,2.573377,2.539799,2.540864,NaN
4,Angola,AGO,Population growth (annual %),SP.POP.GROW,NaN,1.558355,1.460738,1.410425,1.301745,1.111041,...,3.617678,3.586211,3.550987,3.464457,3.395278,3.268348,3.166030,3.096753,3.030996,NaN

In [4]:
# Count the rows and columns
num_rows, num_columns = uncleaned_df.shape
print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_columns}")

Number of rows: 266
Number of columns: 69

In [5]:
# Remove duplicate rows
df_no_duplicates = uncleaned_df.drop_duplicates()

# Count the rows and columns after removing duplicates
num_rows, num_columns = df_no_duplicates.shape
print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_columns}")

df_no_duplicates

Number of rows: 266
Number of columns: 69

,country_name,country_code,indicator_name,indicator_code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,unnamed_68
0,Aruba,ABW,Population growth (annual %),SP.POP.GROW,NaN,2.179059,1.548572,1.389337,1.215721,1.032841,...,0.637959,0.590062,0.537296,0.494795,0.451970,0.134255,-0.045045,-0.086392,-0.157953,NaN
1,Africa Eastern and Southern,AFE,Population growth (annual %),SP.POP.GROW,NaN,2.660180,2.732633,2.753248,2.806915,2.840787,...,2.802586,2.728159,2.655672,2.688371,2.691134,2.678184,2.607472,2.543757,2.531587,NaN
2,Afghanistan,AFG,Population growth (annual %),SP.POP.GROW,NaN,1.925952,2.014879,2.078997,2.139651,2.216007,...,3.121341,2.581549,2.866492,2.885208,2.908529,3.134747,2.851358,2.534498,2.665628,NaN
3,Africa Western and Central,AFW,Population growth (annual %),SP.POP.GROW,NaN,2.115789,2.145723,2.190827,2.211360,2.242567,...,2.723317,2.713059,2.706266,2.669239,2.633982,2.615646,2.573377,2.539799,2.540864,NaN
4,Angola,AGO,Population growth (annual %),SP.POP.GROW,NaN,1.558355,1.460738,1.410425,1.301745,1.111041,...,3.617678,3.586211,3.550987,3.464457,3.395278,3.268348,3.166030,3.096753,3.030996,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,Population growth (annual %),SP.POP.GROW,NaN,2.400980,2.378001,2.336873,2.280566,2.192574,...,-1.364932,-0.596734,0.753585,0.339011,-0.457730,0.070131,-0.229016,-1.010215,-0.664615,NaN
262,"Yemen, Rep.",YEM,Population growth (annual %),SP.POP.GROW,NaN,1.862737,1.872291,1.839467,1.920052,2.046198,...,2.712955,2.621537,2.564321,2.486360,2.426208,2.310447,2.137790,2.144628,2.210656,NaN
263,South Africa,ZAF,Population growth (annual %),SP.POP.GROW,NaN,2.799492,2.978651,3.033440,3.061378,3.091501,...,2.074017,0.972004,0.387278,1.225530,1.295074,1.223179,0.998920,0.841058,0.865465,NaN
264,Zambia,ZMB,Population growth (annual %),SP.POP.GROW,NaN,3.156056,3.178563,3.196632,3.194441,3.201590,...,3.191896,3.147407,3.113595,3.061888,3.007618,2.933818,2.840806,2.758032,2.720528,NaN
265,Zimbabwe,ZWE,Population growth (annual %),SP.POP.GROW,NaN,3.094865,3.105320,3.115408,3.119878,3.124829,...,2.136294,2.081806,2.043620,2.020537,1.989253,2.031112,2.045715,2.024036,2.091100,NaN

In [7]:
# Drop the specific 'Indicator Name' and 'Indicator Code' columns
df_no_duplicates = df_no_duplicates.drop(columns=['indicator_name', 'indicator_code'], errors='ignore')
df_no_duplicates

,country_name,country_code,1960,1961,1962,1963,1964,1965,1966,1967,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,unnamed_68
0,Aruba,ABW,NaN,2.179059,1.548572,1.389337,1.215721,1.032841,0.862184,0.388847,...,0.637959,0.590062,0.537296,0.494795,0.451970,0.134255,-0.045045,-0.086392,-0.157953,NaN
1,Africa Eastern and Southern,AFE,NaN,2.660180,2.732633,2.753248,2.806915,2.840787,2.813609,2.830505,...,2.802586,2.728159,2.655672,2.688371,2.691134,2.678184,2.607472,2.543757,2.531587,NaN
2,Afghanistan,AFG,NaN,1.925952,2.014879,2.078997,2.139651,2.216007,2.253524,2.292638,...,3.121341,2.581549,2.866492,2.885208,2.908529,3.134747,2.851358,2.534498,2.665628,NaN
3,Africa Western and Central,AFW,NaN,2.115789,2.145723,2.190827,2.211360,2.242567,2.272816,2.275721,...,2.723317,2.713059,2.706266,2.669239,2.633982,2.615646,2.573377,2.539799,2.540864,NaN
4,Angola,AGO,NaN,1.558355,1.460738,1.410425,1.301745,1.111041,0.875806,0.696698,...,3.617678,3.586211,3.550987,3.464457,3.395278,3.268348,3.166030,3.096753,3.030996,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,NaN,2.400980,2.378001,2.336873,2.280566,2.192574,2.110134,2.099215,...,-1.364932,-0.596734,0.753585,0.339011,-0.457730,0.070131,-0.229016,-1.010215,-0.664615,NaN
262,"Yemen, Rep.",YEM,NaN,1.862737,1.872291,1.839467,1.920052,2.046198,2.127857,2.216335,...,2.712955,2.621537,2.564321,2.486360,2.426208,2.310447,2.137790,2.144628,2.210656,NaN
263,South Africa,ZAF,NaN,2.799492,2.978651,3.033440,3.061378,3.091501,3.092211,3.089296,...,2.074017,0.972004,0.387278,1.225530,1.295074,1.223179,0.998920,0.841058,0.865465,NaN
264,Zambia,ZMB,NaN,3.156056,3.178563,3.196632,3.194441,3.201590,3.218695,3.219669,...,3.191896,3.147407,3.113595,3.061888,3.007618,2.933818,2.840806,2.758032,2.720528,NaN
265,Zimbabwe,ZWE,NaN,3.094865,3.105320,3.115408,3.119878,3.124829,3.129628,3.135761,...,2.136294,2.081806,2.043620,2.020537,1.989253,2.031112,2.045715,2.024036,2.091100,NaN

In [9]:
# Drop the specific 'unnamed_68' column
df_no_duplicates = df_no_duplicates.drop(columns=['unnamed_68'], errors='ignore')

num_rows, num_columns = df_no_duplicates.shape
print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_columns}")

df_no_duplicates

Number of rows: 266
Number of columns: 66

,country_name,country_code,1960,1961,1962,1963,1964,1965,1966,1967,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Aruba,ABW,NaN,2.179059,1.548572,1.389337,1.215721,1.032841,0.862184,0.388847,...,0.691615,0.637959,0.590062,0.537296,0.494795,0.451970,0.134255,-0.045045,-0.086392,-0.157953
1,Africa Eastern and Southern,AFE,NaN,2.660180,2.732633,2.753248,2.806915,2.840787,2.813609,2.830505,...,2.774990,2.802586,2.728159,2.655672,2.688371,2.691134,2.678184,2.607472,2.543757,2.531587
2,Afghanistan,AFG,NaN,1.925952,2.014879,2.078997,2.139651,2.216007,2.253524,2.292638,...,3.657576,3.121341,2.581549,2.866492,2.885208,2.908529,3.134747,2.851358,2.534498,2.665628
3,Africa Western and Central,AFW,NaN,2.115789,2.145723,2.190827,2.211360,2.242567,2.272816,2.275721,...,2.750731,2.723317,2.713059,2.706266,2.669239,2.633982,2.615646,2.573377,2.539799,2.540864
4,Angola,AGO,NaN,1.558355,1.460738,1.410425,1.301745,1.111041,0.875806,0.696698,...,3.684429,3.617678,3.586211,3.550987,3.464457,3.395278,3.268348,3.166030,3.096753,3.030996
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,NaN,2.400980,2.378001,2.336873,2.280566,2.192574,2.110134,2.099215,...,-0.294474,-1.364932,-0.596734,0.753585,0.339011,-0.457730,0.070131,-0.229016,-1.010215,-0.664615
262,"Yemen, Rep.",YEM,NaN,1.862737,1.872291,1.839467,1.920052,2.046198,2.127857,2.216335,...,2.811072,2.712955,2.621537,2.564321,2.486360,2.426208,2.310447,2.137790,2.144628,2.210656
263,South Africa,ZAF,NaN,2.799492,2.978651,3.033440,3.061378,3.091501,3.092211,3.089296,...,1.576294,2.074017,0.972004,0.387278,1.225530,1.295074,1.223179,0.998920,0.841058,0.865465
264,Zambia,ZMB,NaN,3.156056,3.178563,3.196632,3.194441,3.201590,3.218695,3.219669,...,3.247118,3.191896,3.147407,3.113595,3.061888,3.007618,2.933818,2.840806,2.758032,2.720528
265,Zimbabwe,ZWE,NaN,3.094865,3.105320,3.115408,3.119878,3.124829,3.129628,3.135761,...,2.191391,2.136294,2.081806,2.043620,2.020537,1.989253,2.031112,2.045715,2.024036,2.091100

In [11]:
# Use PyJanitor's `transform_columns` to apply fillna to the '1960' column, replacing NaN with 'Not Available'
df_no_duplicates = df_no_duplicates.transform_columns(['1960'], lambda x: x.fillna('Not Available'))

df_no_duplicates

AttributeError: 'float' object has no attribute 'fillna'

In [ ]:
# Load official Country Codes reference data file
country_codes_df = pd.read_csv('CountryCodes_ISO3166.csv')
country_codes_df.head()

In [ ]:
# (1) perform outer join
outer = pd.merge(df_no_duplicates, country_codes_df, left_on='country_code', right_on='Alpha-3 code', how='outer', indicator=True)

# (2) perform anti-join
anti_join = outer[(outer._merge=='left_only')].drop('_merge', axis=1)

#view results
anti_join[["country_name", "country_code"]]

In [ ]:
# Extract the (fake) "country codes" so we can use those as a filter
non_country_codes = anti_join["country_code"]
len(non_country_codes)

In [ ]:
# Filter out non-country-codes from the original population growth dataset so we are left with ISO3166 country codes only
df_no_duplicates = df_no_duplicates[~df_no_duplicates["country_code"].isin(non_country_codes)]
df_no_duplicates

In [ ]:
# Remove fully blank rows and columns
removed_df = df_no_duplicates.dropna(how='all')  # Drop fully blank rows
removed_df = removed_df.dropna(axis=1, how='all')  # Drop fully blank columns

num_rows, num_columns = removed_df.shape
print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_columns}")

removed_df

In [ ]:
# Replace missing/blank values with "Not Available"
df_filled = df_no_duplicates.fillna("Not Available")

num_rows, num_columns = df_filled.shape
print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_columns}")

df_filled.head()

In [ ]:
# Identify fully blank rows and columns for review
blank_rows = df_no_duplicates[df_no_duplicates.isnull().all(axis=1)]
blank_columns = df_no_duplicates.columns[df_no_duplicates.isnull().all(axis=0)]

In [ ]:
# Remove fully blank rows and columns
cleaned_df = df_filled.dropna(how='all')  # Drop fully blank rows
cleaned_df = cleaned_df.dropna(axis=1, how='all')  # Drop fully blank columns

num_rows, num_columns = cleaned_df.shape
print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_columns}")

cleaned_df.head()

In [ ]:
# Save removed rows and columns in another dataframe for review
removed_row_df = pd.DataFrame({"removed_rows": blank_rows.index})  # indices of removed rows
removed_column_df = pd.DataFrame({"removed_columns": blank_columns})   # names of removed columns

In [ ]:
removed_row_df.head()